.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 1.5rem 0;
  width: 95vw;
}
.pageActions {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-family: Roboto;
}

.totalResults {
  font-size: 18px;
  font-weight: 500;
  margin: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #707070;
}
.resultCount {
  font-weight: 400;
  color: #0070f3;
}

.title {
  margin: 0 0 2rem;
  line-height: 1.15;
  text-align: center;
  font-size: 3rem;
}

.grid {
  margin-top: 1rem;
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(304px, 1fr) );
  grid-gap: 1rem;
	grid-template-rows: auto auto;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
