.searchBar {
  height: 2.1rem;
  width: 20rem;
  padding: 6px;
  border: 1px solid #000;
  border-radius: 5px;
  font-family: Roboto;
  font-size: 18px;
  margin-right: 0.25rem;
  outline-color: #0070f3;
}
.searchBar::selection{
  background: #0070f3;
}
